/* Avatar stuff */
.wrapper-2F3Zv8{
    margin-left: 0px;
}

.image-33JSyf.large-3ChYtB {
    margin: 0px;
    border-radius: 20% !important;
    width: 56px;
    height: 56px;
    margin-right: 0px;
    margin-left: 8px;
}

.containerCozyBounded-1rKFAn.containerCozy-jafyvG.container-1YxwTf{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.avatar-large {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    border-radius: 10px;
}

.headerCozyMeta-rdohGq{
    margin-left: 15px;
}

/* emoji hover scale */
.emoji {
    transition: all .1s ease-in-out;
}

.emoji:hover {
    transform: scale(2.6) translateY(-4px); 
}

/* server list */
.guild-1EfMGQ+.guild-1EfMGQ {
    margin-top: 4px;
}

.guilds-1q_RqH {
    padding-left: 4px;
}

.guildsWrapper-5TJh6A {
    width: 58px;
}

/* voice chat */
.nameHovered-21k1eo, .nameSpeaking-3UhoEZ{
    color: #43b581;
}
